{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "consistent-return": 0,
    "func-names": 0,
    "no-plusplus": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0
  }
}