{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-plusplus": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0
  }
}